<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>457390071946-rbkce9r0oa691jplfrc0vn6glo08vcl1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.457390071946-rbkce9r0oa691jplfrc0vn6glo08vcl1</string>
	<key>API_KEY</key>
	<string>AIzaSyA_rQxNBDX3lHIAmf1MFZfq-KnHI3eyBYM</string>
	<key>GCM_SENDER_ID</key>
	<string>457390071946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Tiskua.PowerSchool-Helper</string>
	<key>PROJECT_ID</key>
	<string>powerschool-plus</string>
	<key>STORAGE_BUCKET</key>
	<string>powerschool-plus.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:457390071946:ios:0b09cac06a390832ec4d73</string>
</dict>
</plist>